@page "/"

<button @onclick="(() => ShowComponent = true)">Show</button>
<button @onclick="(() => ShowComponent = false)">Hide</button>
@if (ShowComponent)
{
    <FetchData></FetchData>
}


@code {
    bool ShowComponent { get; set; } = false;
}