@page "/qp"
@using AweBlazor.Data
@using AweBlazor.Service
@inject QuestionService _service

<br />
<div>
    <button @onclick="@Start"> Start</button>
</div>
<h1 style="color:aliceblue">@TimeLeft</h1>
@if (show)
{
    <div class="row">
        <AweBlazor.Pages.Singleton.QueCardTwo Question="@QuestionObject"></AweBlazor.Pages.Singleton.QueCardTwo>
    </div>
}
else
{
    <div>
        <h2 style="color:aliceblue">Just wait some seconds . . .</h2>
    </div>
}
@code{

    int count = 0;

    private Question QuestionObject { get; set; }
    public List<Question> Questions;
    protected override async Task OnInitializedAsync()
    {
        Questions = await Task.Run(() => _service.GetAllQuestionWithMultipleChoices());

    }
    TimeSpan TimeLeft = new TimeSpan(0, 0, 15);
    string displayText = "";
    bool show = false;

    async Task Start()
    {
        show = true;
        if (Questions?.Count >= count)
        {
            QuestionObject = Questions.ToArray()[count];
        }


        await Timer();


        //foreach (var item in Questions)
        //{
        //    QuestionObject = item;
        //    Timer();
        //    displayText = "Start Time";
        //    show = true;
        //}


    }

    async Task Timer()
    {
        while (TimeLeft > new TimeSpan())
        {
            await Task.Delay(1000);
            TimeLeft = TimeLeft.Subtract(new TimeSpan(0, 0, 1));

            StateHasChanged();
        }
        await AfterTime();
        StateHasChanged();
    }
    async Task AfterTime()
    {
        QuestionObject = null;
        displayText = "Time Expire";
        TimeLeft = new TimeSpan(0, 0, 15);
        count++;
        await Start();
        //Task.CompletedTask;
    }
}
