@*@page "/Question/{Id}"
    @using AweBlazor.Data
    @using AweBlazor.Service
    @inject QuestionService _service

    @if (Options != null)
    {
        <div class="card col-md-6 offset-3">
            <div class="card-header">
                <h2> @Question.QuestionName</h2>
            </div>
            <div class="card-body">

                @foreach (var item in Options)
                {
                    <DxCheckBox ValueChecked="true" ValueUnchecked="false" @onclick="GetOptionName">
                        @item
                    </DxCheckBox>
                }
            </div>
        </div>
        <div>
            <button type="button" class="btn btn-outline-success" @onclick="GetQuestionidAndoption">
                NEXT
            </button>
        </div>

    }

    @code{
        [Parameter]
        public string Id { get; set; }
        Question Question = new Question();

    }*@