@page "/Question/{Id}"
@using AweBlazor.Data
@using AweBlazor.Service

@inject QuestionService _service
@if (MultipleChoicesList != null)
{
    <div class="card col-md-6 offset-3">
        <div class="card-header">
            <h2> @Question.Title</h2>
        </div>
        <div class="card-body">
            @foreach (var item in MultipleChoicesList)
            {
                <DxCheckBox ValueChecked="true" ValueUnchecked="false">@item.Name</DxCheckBox>
            }
        </div>
    </div>
}
else
{
    <p>Generating Question . . . </p>
}
@code{
    [Parameter]
    public string Id { get; set; }
    Question Question = new Question();
    List<Option> MultipleChoicesList = new List<Option>();
    protected override async Task OnInitializedAsync()
    {
        Question = await Task.Run(() => _service.GetQuestion(Convert.ToInt32(Id)));
        MultipleChoicesList = Question.Options.ToList();
    }

}