@page "/timerPage"
@using System.Timers

<div class="row">
    <div>
        <button class="btn btn-primary"></button>
    </div>
</div>

<h3>TimerComponet</h3>

@code {

    Timer Timer = new Timer();

}