@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row ">
        <h5> AweBlazor - Practice</h5>
    </div>


<div class="content px-4">

    @Body

 <div class="waveWrapper waveAnimation">
     <div class="waveWrapperInner bgTop">
         <div class="wave waveTop" style="background-image: url('logo/Wave/response.png')"></div>
     </div>
            <div class="waveWrapperInner bgMiddle">
                <div class="wave waveMiddle" style="background-image: url('logo/Wave/response.png')"></div>
            </div>
            <div class="waveWrapperInner bgBottom">
                <div class="wave waveBottom" style="background-image: url('logo/Wave/response.png')"></div>
            </div>
        </div>

</div>
</div>